.price {
    padding-top: 66px;
    &__wrapper {
        padding: 60px 51px 0 50px;
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 370px);
        grid-auto-rows: 44px;
        column-gap: 302px;
        row-gap: 15px;
    }
    &__block {
        padding-left: 25px;
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
        row-gap: 5px;
        align-items: center;
    }
    &__text {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px; 
            background: $main-color;
            border-radius: 100%;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__from {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        justify-self: end;
    }
    &__descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        grid-column: 1 / 3;
    }
}